body {
background: cornflowerblue;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: lightgoldenrodyellow;
text-align: center;
}
.class {
color: lightgoldenrodyellow;
text-align: center;
}