body {
    background: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: lightgoldenrodyellow;
    margin-top: 1rem;
}
h2 {
    color: lightgoldenrodyellow;
    margin-top: 1rem;
}
p {
  color: lightgoldenrodyellow;
  width: 80%;
  margin: 0 auto;
  line-height: 1.5;
  text-align: center;
}
.about, .skills, .projects, .contact {
  padding: 2rem;
}
p:last-of-type {
  margin-top: 2rem;
  font-style: italic;
}
.projects { display:flex; flex-wrap:wrap; } 
.project {
  width: 300px;        
  margin: 15px auto;  
  padding: 20px;
  background: white;
  border-radius: 20px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  text-align: center;
}
.project img {
  width: 100%;
  max-width: 400px;   
  height: auto;      
  border-radius: 10px; 
  display: block;
  margin: 0 auto;     
}